
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$untitled-primary: mat-palette($mat-indigo);
$untitled-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$untitled-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$untitled-theme: mat-light-theme((
  color: (
    primary: $untitled-primary,
    accent: $untitled-accent,
    warn: $untitled-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($untitled-theme);

@import '~@angular/material/theming';
@include mat-core();

$nutrition-app-primary: mat-palette($mat-light-green, 600);
$nutrition-app-accent: mat-palette($mat-amber, 300);
$nutrition-app-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$nutrition-app-theme: mat-light-theme((
  color: (
    primary: $nutrition-app-primary,
    accent: $nutrition-app-accent,
    warn: $nutrition-app-warn
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($nutrition-app-theme);
