mat-toolbar{
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-events {
  width: 500px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}
