<mat-card>
  <mat-card-title>Let's find all nutritional values from your meal!</mat-card-title>
  <mat-card-content>
    <mat-card-subtitle>Some details:</mat-card-subtitle>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
    deserunt mollit anim id est laborum.
  </mat-card-content>
</mat-card>
<mat-card>
  <app-stepper></app-stepper>
</mat-card>



