<div *ngIf="loading" class="align-vertical-center">
  <div class="align-horizontal-center nutrition-logo">NutritionCalculator</div>
  <div class="align-horizontal-center">
    <mat-spinner></mat-spinner>
  </div>
</div>
