.align-horizontal-center{
  display: flex;
  justify-content: center;
}
.align-vertical-center{
  margin-top: 20%;
}
.nutrition-logo{
  color: #7cb342;
  font-size: 40px;
  font-width: bold;
  margin: 30px;
}
.loading{
  margin-top: auto;
}
